In [13]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

Data Collection & Analysis

In [2]:
#data loading
df = pd.read_csv(r"C:\Users\Python Class\Multiple_Disease_Prediction_p4\kidney_disease - kidney_disease.csv")
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [3]:
df.shape

(400, 26)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [5]:
# checking missing value
df.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [6]:
#statical measures about data
df.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [7]:
#distribution of target 
df['classification'].value_counts()

classification
ckd       250
notckd    150
Name: count, dtype: int64

In [8]:
# grouping the data based on the target var
df.groupby('classification').mean(numeric_only=True)

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
classification,,,,,,,,,,,,
ckd,124.5,54.541322,79.625000,1.013918,1.722488,0.76699,175.419811,72.389030,4.414916,133.901786,4.878443,10.647549
notckd,324.5,46.516779,71.351351,1.022414,0.000000,0.00000,107.722222,32.798611,0.868966,141.731034,4.337931,15.188194

Data Pre-Processing

In [9]:
#Separating feature and target

x = df.drop(columns=['id'],axis =1) 
y = df['classification']
print(x)
# axis =1 when dropping a column
# axis = 0 when dropping a row

      age    bp     sg   al   su     rbc        pc         pcc          ba  \
0    48.0  80.0  1.020  1.0  0.0     NaN    normal  notpresent  notpresent
1     7.0  50.0  1.020  4.0  0.0     NaN    normal  notpresent  notpresent
2    62.0  80.0  1.010  2.0  3.0  normal    normal  notpresent  notpresent
3    48.0  70.0  1.005  4.0  0.0  normal  abnormal     present  notpresent
4    51.0  80.0  1.010  2.0  0.0  normal    normal  notpresent  notpresent
..    ...   ...    ...  ...  ...     ...       ...         ...         ...
395  55.0  80.0  1.020  0.0  0.0  normal    normal  notpresent  notpresent
396  42.0  70.0  1.025  0.0  0.0  normal    normal  notpresent  notpresent
397  12.0  80.0  1.020  0.0  0.0  normal    normal  notpresent  notpresent
398  17.0  60.0  1.025  0.0  0.0  normal    normal  notpresent  notpresent
399  58.0  80.0  1.025  0.0  0.0  normal    normal  notpresent  notpresent

       bgr  ...  pcv    wc   rc  htn   dm cad appet   pe  ane classification
0    121.0  ...   44  7800  5.2  yes  yes  no  good   no   no            ckd
1      NaN  ...   38  6000  NaN   no   no  no  good   no   no            ckd
2    423.0  ...   31  7500  NaN   no  yes  no  poor   no  yes            ckd
3    117.0  ...   32  6700  3.9  yes   no  no  poor  yes  yes            ckd
4    106.0  ...   35  7300  4.6   no   no  no  good   no   no            ckd
..     ...  ...  ...   ...  ...  ...  ...  ..   ...  ...  ...            ...
395  140.0  ...   47  6700  4.9   no   no  no  good   no   no         notckd
396   75.0  ...   54  7800  6.2   no   no  no  good   no   no         notckd
397  100.0  ...   49  6600  5.4   no   no  no  good   no   no         notckd
398  114.0  ...   51  7200  5.9   no   no  no  good   no   no         notckd
399  131.0  ...   53  6800  6.1   no   no  no  good   no   no         notckd

[400 rows x 25 columns]

In [10]:
print(y)

0         ckd
1         ckd
2         ckd
3         ckd
4         ckd
        ...
395    notckd
396    notckd
397    notckd
398    notckd
399    notckd
Name: classification, Length: 400, dtype: object

Splitting data to training data & test data

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [12]:
print(x.shape,x_train.shape,x_test.shape)

(400, 25) (320, 25) (80, 25)

Data standardization - what change all value in same range

In [ ]:
scaler  = StandardScaler()