In [46]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from imblearn.under_sampling import RandomUnderSampler
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Collection & Analysis

In [47]:
#data loading
df = pd.read_csv(r"C:\Users\Python Class\Multiple_Disease_Prediction_p4\indian_liver_patient - indian_liver_patient.csv")
df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [48]:
df.shape

(583, 11)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    int64
 1   Gender                      583 non-null    object
 2   Total_Bilirubin             583 non-null    float64
 3   Direct_Bilirubin            583 non-null    float64
 4   Alkaline_Phosphotase        583 non-null    int64
 5   Alamine_Aminotransferase    583 non-null    int64
 6   Aspartate_Aminotransferase  583 non-null    int64
 7   Total_Protiens              583 non-null    float64
 8   Albumin                     583 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Dataset                     583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [84]:
# checking missing value
df.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    0
Dataset                       0
dtype: int64

In [81]:
#statical measures about data
df.describe()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
count,583.000000,583.0,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000
mean,44.746141,0.0,3.298799,1.486106,6.483190,3.141852,0.947064,1.286449
std,16.189833,0.0,6.209522,2.808498,1.085451,0.795519,0.318492,0.452490
min,4.000000,0.0,0.400000,0.100000,2.700000,0.900000,0.300000,1.000000
25%,33.000000,0.0,0.800000,0.200000,5.800000,2.600000,0.700000,1.000000
50%,45.000000,0.0,1.000000,0.300000,6.600000,3.100000,0.947064,1.000000
75%,58.000000,0.0,2.600000,1.300000,7.200000,3.800000,1.100000,2.000000
max,90.000000,0.0,75.000000,19.700000,9.600000,5.500000,2.800000,2.000000

In [80]:
df=df.drop(columns=['Alamine_Aminotransferase','Aspartate_Aminotransferase','Alkaline_Phosphotase'],axis=1)

In [82]:
#distribution of target 
df['Dataset'].value_counts()

Dataset
1    416
2    167
Name: count, dtype: int64

Data Pre-Processing

In [83]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import SMOTE

#Encoding
df['Gender'] = df['Gender'].apply(lambda x: 1 if str(x).strip().lower() == 'male' else 0)

# Fill missing values (if any)
df = df.fillna(df.mean(numeric_only=True))

#Separating feature and target
x, y = df.drop('Dataset',axis=1),df['Dataset']

# Splitting data to training data & test data
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=42)

# Scaling
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

#Model training
model = RandomForestClassifier(n_jobs=-1, random_state=42)
model.fit(x_train, y_train)

#Model Evaluation - will find accuracy score
x_train_pred = model.predict(x_train)
x_test_pred = model.predict(x_test)

print("Training Accuracy:", accuracy_score(y_train, x_train_pred))
print("Test Accuracy:", accuracy_score(y_test, x_test_pred))

Training Accuracy: 1.0
Test Accuracy: 0.7521367521367521

In [73]:
# # Perform Cross-Validation

from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, x, y, cv=5)
print("Cross-validation scores:", scores)
print("Mean accuracy:", scores.mean())

Cross-validation scores: [0.72649573 0.70940171 0.69230769 0.64655172 0.75      ]
Mean accuracy: 0.7049513704686119